<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Person</h1>

<f:flashMessages />

<table  class="tx_people" >
	<tr>
		<th><f:translate key="tx_people_domain_model_person.first_name" /></th>
		<th><f:translate key="tx_people_domain_model_person.lst_name" /></th>
		<th><f:translate key="tx_people_domain_model_person.gender" /></th>
		<th><f:translate key="tx_people_domain_model_person.title" /></th>
		<th><f:translate key="tx_people_domain_model_person.organization" /></th>
		<th><f:translate key="tx_people_domain_model_person.department" /></th>
		<th><f:translate key="tx_people_domain_model_person.street" /></th>
		<th><f:translate key="tx_people_domain_model_person.street_number" /></th>
		<th><f:translate key="tx_people_domain_model_person.address_supplement" /></th>
		<th><f:translate key="tx_people_domain_model_person.city" /></th>
		<th><f:translate key="tx_people_domain_model_person.zip" /></th>
		<th><f:translate key="tx_people_domain_model_person.country" /></th>
		<th><f:translate key="tx_people_domain_model_person.state" /></th>
		<th><f:translate key="tx_people_domain_model_person.closest_city" /></th>
		<th><f:translate key="tx_people_domain_model_person.email" /></th>
		<th><f:translate key="tx_people_domain_model_person.phone" /></th>
		<th><f:translate key="tx_people_domain_model_person.mobile" /></th>
		<th><f:translate key="tx_people_domain_model_person.fax" /></th>
		<th><f:translate key="tx_people_domain_model_person.www" /></th>
		<th><f:translate key="tx_people_domain_model_person.description" /></th>
		<th><f:translate key="tx_people_domain_model_person.image" /></th>
		<th><f:translate key="tx_people_domain_model_person.latitude" /></th>
		<th><f:translate key="tx_people_domain_model_person.longitude" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{persons}" as="person">
		<tr>
			<td><f:link.action action="show" arguments="{person : person}"> {person.firstName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.lstName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.gender}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.organization}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.department}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.street}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.streetNumber}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.addressSupplement}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.city}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.zip}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.country}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.state}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.closestCity}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.mobile}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.fax}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.www}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.image}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.latitude}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.longitude}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{person : person}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{person : person}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Person</f:link.action>
</f:section>