<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:u="http://typo3.org/ns/Undkonsorten/Addressmgmt/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <u:titleTag>{address.name}</u:titleTag>
    <h1>Dashboard for Address</h1>

    <f:flashMessages />
    <div class="tx-addressmgmt" >
        <f:render partial="Map/ShowSingle" arguments="{address:address, contendUid:contendUid}"/>
        <h3><f:translate key="tx_addressmgmt_domain_model_address.{address.gender}"></f:translate>{address.title} {address.firstName} {address.Name}</h3>
        <f:for each="{address.category}" as="category">
            {category.title}
        </f:for>

        {address.organization}

        {address.department}

        {address.street}

        {address.streetNumber}

        {address.addressSupplement}

        {address.city}

        {address.zip}

        {address.country}

        {address.state}

        {address.closestCity}

        <f:if condition="{address.feUser}">
            <f:then>{address.feUser.username}</f:then>
            <f:else>{address.email}</f:else>
        </f:if>

        {address.phone}

        {address.mobile}

        {address.fax}

        {address.www}

        {address.description}
        <f:if condition="{address.image}">
            <figure>
                <f:image src="{address.image.originalResource.forLocalProcessing}" alt="nada" width="300" />
            </figure>
        </f:if>

        {address.latitude}

        {address.longitude}

        <f:for each="{address.socialIdentifiers}" as="identifier">
            <div>
                <f:if condition="{identifier.provider.image}">
                    <f:image src="{identifier.provider.image.originalResource.forLocalProcessing}" width="16" alt="{identifier.provider.name}"/>
                </f:if>
                <strong>{identifier.provider.name}:</strong>
                {identifier.url}
            </div>
        </f:for>
    </div>

    <f:for each="{address.images}" as="image">
        <div>
            <f:image src="{image.originalResource.originalFile.uid}" alt="image.alternative" width="100" />
            <f:link.action class="button" action="delete" controller="File" arguments="{fileReference:image, address:address}">Delete</f:link.action>
            <f:link.action class="button" action="edit" controller="File" arguments="{fileReference:image, address:address, property:'images'}">Edit</f:link.action>
        </div>

    </f:for>

    <div>
        <f:link.action class="button" action="edit" arguments="{address:address}">Edit Profile</f:link.action>
        <f:link.action class="button" action="new" controller="File" arguments="{address:address, property:'images'}">New Image</f:link.action>
    </div>





</f:section>
