<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:am="http://typo3.org/ns/Undkonsorten/Addressmgmt/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />

<f:if condition="{addresss}">
		<f:then>
			
			<f:if condition="{settings.templateLayout} == 'map'">
        <f:render partial="Map/Show" arguments="{addresses:addresss, contendUid:contendUid}"/>
      </f:if>
      <f:if condition="{settings.templateLayout} == 'map-list'">
        <f:render partial="Map/Show" arguments="{addresses:addresss, contendUid:contendUid}"/>
        <f:render section="list" arguments="{_all}" />
      </f:if>
      <f:if condition="{settings.templateLayout} == 'list'">
        <f:render section="list" arguments="{_all}" />
			</f:if>
		</f:then>
		<f:else>
			<div class="no-addresses-found"><f:translate key="list.emptyList" /></div>
		</f:else>
	</f:if>
</f:section>

<f:section name="list">
  <section class="module-list.addressmgmt">
      <f:if condition="{settings.showA-zFilter}">
        <f:then>
          <div class="letter-list" data-label-all="{f:translate(key:'a-zlist.showAll')}"></div>
          <am:sortedGroupedFor each="{addresss}" as="addresssByFirstLetter" groupBy="firstLetterOfName" groupKey="letter" sortBy="firstLetterOfName">
            <ul id="group-{letter}" class="list-items group">
              <f:for each="{addresssByFirstLetter}" as="address">
                <li class="list-item a-{address.uid}" data-group-letter="{letter}">
                  <f:render partial="List/Item" arguments="{address: address}"/>
                </li>
              </f:for>
            </ul>
          </am:sortedGroupedFor>
        </f:then>
        <f:else>
          <ul class="list-items">
            <f:for each="{addresss}" as="address">
              <li class="list-item a-{address.uid}">
                <f:render partial="List/Item" arguments="{address: address}"/>
              </li>
            </f:for>
          </ul>
        </f:else>
      </f:if>
  </section>
</f:section>

</html>