<f:if condition="{settings.showFilter}">
  <div class="map-filter">
    <form class="form-stacked" action="#map{contendUid}-wrap" target="#map{contendUid}">
      <fieldset>
        <legend>Akteure filtern</legend>
        <f:render partial="Filter/Field" arguments="{_all}" />
        <div class="form-field-wrap">
          <button type="submit" class="button" name="form-submit"><f:translate key="addressmgmt.submitButton" /></button>
          <button type="reset" class="reset"><f:translate key="addressmgmt.resetButton" /></button>
        </div>
      </fieldset>
    </form>
    <div class="no-results">
      <f:translate key="list.emptyList" />
    </div>
  </div>
</f:if>
