<f:render partial="Media/Media" arguments="{media:address.images}" />
<div class="text-wrap">
  <f:render partial="Meta" arguments="{address:address}" />
  <h3 class="title headline">
    <f:if condition="{settings.detailPid}">
      <f:then>
        <f:link.action action="show" pageUid="{settings.detailPid}" arguments="{address:address}" class="{linkClass}">{address.name}</f:link.action>
      </f:then>
      <f:else>
        <f:link.action action="show" arguments="{address:address}" class="{linkClass}">{address.name}</f:link.action>
      </f:else>
    </f:if>
  </h3>
  <div class="teaser">
    <f:format.crop maxCharacters="100">{f:format.stripTags(value:address.description)}</f:format.crop>
  </div>
</div>