<table class="tx-addressbook" >
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.first_name" />
		</td>
		<td>
			{address.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.last_name" />
		</td>
		<td>
			{address.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.gender" />
		</td>
		<td>
			{address.gender}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.title" />
		</td>
		<td>
			{address.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.organization" />
		</td>
		<td>
			{address.organization}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.department" />
		</td>
		<td>
			{address.department}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.street" />
		</td>
		<td>
			{address.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.street_number" />
		</td>
		<td>
			{address.streetNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.address_supplement" />
		</td>
		<td>
			{address.addressSupplement}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.city" />
		</td>
		<td>
			{address.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.zip" />
		</td>
		<td>
			{address.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.country" />
		</td>
		<td>
			{address.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.state" />
		</td>
		<td>
			{address.state}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.closest_city" />
		</td>
		<td>
			{address.closestCity}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.email" />
		</td>
		<td>
			<f:if condition="{address.feUser}">
				<f:then>{address.feUser.username}</f:then>
				<f:else>{address.email}</f:else>
			</f:if>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.phone" />
		</td>
		<td>
			{address.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.mobile" />
		</td>
		<td>
			{address.mobile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.fax" />
		</td>
		<td>
			{address.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.www" />
		</td>
		<td>
			{address.www}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.description" />
		</td>
		<td>
			{address.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.image" />
		</td>
		<td>
			<f:image src="{address.image.originalResource.forLocalProcessing}" alt="nada" width="300" />
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.latitude" />
		</td>
		<td>
			{address.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_addressbook_domain_model_address.longitude" />
		</td>
		<td>
			{address.longitude}
		</td>
	</tr>
</table>
<f:for each="{address.socialIdentifiers}" as="identifier">
<div>
	<f:if condition="{identifier.provider.image}">
		<f:image src="{identifier.provider.image.originalResource.forLocalProcessing}" width="16" alt="{identifier.provider.name}"/>
	</f:if>
	<strong>{identifier.provider.name}:</strong> 
	{identifier.url}
</div>
</f:for>