<table class="tx-people" >
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.first_name" />
		</td>
		<td>
			{person.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.lst_name" />
		</td>
		<td>
			{person.lstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.gender" />
		</td>
		<td>
			{person.gender}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.title" />
		</td>
		<td>
			{person.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.organization" />
		</td>
		<td>
			{person.organization}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.department" />
		</td>
		<td>
			{person.department}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.street" />
		</td>
		<td>
			{person.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.street_number" />
		</td>
		<td>
			{person.streetNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.address_supplement" />
		</td>
		<td>
			{person.addressSupplement}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.city" />
		</td>
		<td>
			{person.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.zip" />
		</td>
		<td>
			{person.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.country" />
		</td>
		<td>
			{person.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.state" />
		</td>
		<td>
			{person.state}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.closest_city" />
		</td>
		<td>
			{person.closestCity}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.email" />
		</td>
		<td>
			{person.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.phone" />
		</td>
		<td>
			{person.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.mobile" />
		</td>
		<td>
			{person.mobile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.fax" />
		</td>
		<td>
			{person.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.www" />
		</td>
		<td>
			{person.www}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.description" />
		</td>
		<td>
			{person.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.image" />
		</td>
		<td>
			{person.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.latitude" />
		</td>
		<td>
			{person.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_people_domain_model_person.longitude" />
		</td>
		<td>
			{person.longitude}
		</td>
	</tr>
</table>