<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:u="http://typo3.org/ns/Undkonsorten/Addressmgmt/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:for each="{editableCategories}" key="filterName" as="filter">
  
  <f:groupedFor each="{filter.categories}" as="categories" groupBy="parent" groupKey="parent">
    <div class="form-field-wrap filter-{parent.uid}">
      <label for="filter-{parent.uid}">{parent.title}</label>
      <select id="filter-{parent.uid}" name="filter-{parent.title}" class="js-controlled">
        <option value="0">{f:if(condition:parent.description,then:parent.description,else:parent.title)}</option>
        <f:for each="{categories}" as="category">
          <option value="{category.uid}">{category.title}</option>
        </f:for>
      </select>
    </div>
  </f:groupedFor>
  
</f:for>
