<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:u="http://typo3.org/ns/Undkonsorten/Addressmgmt/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<div>
	<label for="title">
		<f:translate key="title">Title</f:translate>
		<f:render partial="FieldError" arguments="{object: Address property: 'address.downloadUpload.fileMetaData.title'}" />
	</label>
	<f:form.textfield name="{prefix}[title]" value="{fileMetaData.title}"/>
	
</div>
<div>
	<label for="description">
		<f:translate key="fileDescription">Description</f:translate>
	</label>
	<f:form.textfield name="{prefix}[description]" value="{fileMetaData.description}"/>
	
</div>
