<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:u="http://typo3.org/ns/Undkonsorten/Addressmgmt/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />


This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder


<f:section name="main">

	<h2><f:translate key="upload.upload-{property}">Upload File</f:translate></h2>
	<u:titleTag>{address.fullName}</u:titleTag>
	<f:form action="create" enctype="multipart/form-data" class="form-stacked">
		<fieldset>
			<f:form.hidden name="fileReference" value="{fileReference}"/>
			<f:form.hidden name="address" value="{address}"/>
			<f:form.hidden name="property" value="{property}"/>
			<div class="form-field-wrap">
        <f:render partial="FieldError" arguments="{object: Address, property: 'address.{propertyUpload}'}" />
        <p class="helptext"><f:translate key="upload.helpTextAllowedFiletypes">Allowed filetyles are: pdf, jpg, png, gif</f:translate></p>
				<f:form.upload name="address[{propertyUpload}]" additionalAttributes="{required:true}" />
			</div>
			<f:if condition="{property}=='images'">
				<f:render partial="File/Upload/MetaDataImage" arguments="{fileMetaData:fileUpload.fileMetaData,prefix:'address[{propertyUpload}][fileMetaData]'}" />
			</f:if>
			<f:if condition="{property}=='download'">
				<f:render partial="File/Upload/MetaDataDownload" arguments="{fileMetaData:fileUpload.fileMetaData,prefix:'address[{propertyUpload}][fileMetaData]'}" />
			</f:if>
	<div class="form-field-wrap">
    <f:form.submit value="{f:translate(key: 'form.save', default: 'Save')}" class="button" />
    <f:link.action action="dash" controller="Address" arguments="{address:address}" class="button"><f:translate key="form.cancel">Cancel</f:translate></f:link.action>
  </div>

		</fieldset>
	</f:form>

</f:section>

<f:section name="right">
	<f:render partial="Address/LoginBox" arguments="{address:address}" />
</f:section>
