{namespace a=Undkonsorten\Addressbook\ViewHelpers}
<f:layout name="WholePage" />


This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="breadcrumb">
	<f:cObject typoscriptObjectPath="u10n.menus.breadcrumb" />
</f:section>

<f:section name="main">
	
	<h1><f:translate key="upload-{property}">Upload File</f:translate></h1>
	
	
	<a:titleTag>{speaker.fullName}</a:titleTag>
	<f:form action="createFile" enctype="multipart/form-data">
		<fieldset>
			<f:form.hidden name="fileReference" value="{fileReference}"/>
			<f:form.hidden name="speaker" value="{speaker}"/>
			<f:form.hidden name="property" value="{property}"/>
			<div>
				<label for="download">
					<f:translate key="tx_speaker_domain_model_speaker.{property}">File for Download</f:translate>
					<f:render partial="FieldError" arguments="{object: Speaker property: 'speaker.{propertyUpload}'}" />
					<p class="helptext"><f:translate key="helpTextAllowedFiletypes">Allowed filetyles are: pdf, jpg, png, gif</f:translate></p>
				</label>
				<f:form.upload name="speaker[{propertyUpload}]" class="withBorder"/>
				
			</div>
			
			<f:if condition="{property}=='image'">
				<f:render partial="File/Upload/MetaDataImage" arguments="{fileMetaData:fileUpload.fileMetaData,prefix:'speaker[{propertyUpload}][fileMetaData]'}" />
			</f:if>
			<f:if condition="{property}=='download'">
				<f:render partial="File/Upload/MetaDataDownload" arguments="{fileMetaData:fileUpload.fileMetaData,prefix:'speaker[{propertyUpload}][fileMetaData]'}" />
			</f:if>
	
			<f:form.submit value="{f:translate(key: 'save', default: 'Save')}" />
			<f:link.action action="showProfile" controller="Speaker" arguments="{speaker:speaker}" class="button cancel grey"><f:translate key="cancel">Cancel</f:translate></f:link.action>
		</fieldset>
	</f:form>

</f:section>

<f:section name="right">
	<f:render partial="Speaker/LoginBox" arguments="{speaker:speaker}" />
</f:section>
